
<form action="handleSignin", method="POST">
    Email : <input name="email" type="email"><br>
    password : <input name="pass" type="password"><br>
    <button type="submit">login</button>
    <button type="button" onclick='location.ref=`/signup`'> sign up</button>
</form>